/* styles.css */
body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    height: 100%;
    overflow: hidden; /* Impedir el desplazamiento en la página */
    background: #f0f0f0;
}

#game-container {
    position: relative;
    width: 100%;
    height: 100vh;
    overflow: auto; /* Permitir desplazamiento cuando sea necesario */
}

#map {
    background-color: #90ee90;
    display: grid;
    grid-template-columns: repeat(40, 50px);
    grid-template-rows: repeat(40, 50px);
    transform-origin: top left; /* Cambiar origen para zoom y desplazamiento */
    min-width: 2000px; /* 40 x 40px */
    min-height: 2000px;
}

.grid-cell {
    border: 1px solid #ccc;
    width: 50px;
    height: 50px;
    background-size: contain; /* Asegura que la imagen se ajuste completamente dentro de la celda */
    background-repeat: no-repeat;
    background-position: center; /* Centra la imagen en la celda */
}
#controls {
    position: fixed;
    top: 10px;
    right: 10px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    cursor: pointer;
    z-index: 100;
}

.menu {
    display: none;
}

.menu button {
    display: block;
    width: 100%;
}

.close-btn {
    padding: 10px;
    background-color: #f44336; /* Color rojo para el botón de cierre */
    color: white;
    border: none;
    cursor: pointer;
    margin-top: 10px; /* Espacio superior para separarlo de otros botones */
}

#info-panel {
    transition: visibility 0.5s, opacity 0.5s ease-in-out;
    position: fixed; /* Asumiendo que ya está definido */
    bottom: 10px;
    left: 10px;
    background-color: white;
    border: 1px solid black;
    padding: 5px;
    z-index: 100;
    opacity: 1;
    visibility: visible;
}

#info-panel.hidden {
    opacity: 0;
    visibility: hidden;
}